@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

:root {
  /*Main colors*/
  --background-light: #eee;
  --background: white;
  --background-dark: #F8F8F8;

  --accent1: #EEEEEE;

  /*Nav*/
  --main-active: var(--accent1-dark);
  --accent-active: var(--accent1-dark);

  /*Various Text*/
  --text: #444444;
  --note: gray;
  --important: red;
  --button-text: black;

  /*CONST*/
  --nav-size: 50px;
  --footer-size: 230px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);

  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
}

a {
  color: var(--accent1);
  transition: color 0.25s;
}

a:hover {
  color: var(--accent1-dark);
}